@page "/"



	<!-- Header -->
	<header id="header">
		<div class="logo"><a href="/">Segurança da informação <span>Nível introdutório aos hackers</span></a></div>
	</header>
	
	
	<!-- Main -->
	<section id="main">
		<div class="inner">

			<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="image fit flush">
					<img src="security.png" alt="" width="1177" height="443">
				</div>
				<header class="special">
					<h2>O que é segurança da informação?</h2>
				<p>Segurança da informação não é apenas proteger dados, é preservar a confiança que move o mundo digital.</p>
				</header><div class="content">
				<p>A segurança da informação é o conjunto de práticas, políticas e tecnologias voltadas a proteger dados e sistemas contra acesso não autorizado, alteração ou destruição. Seu objetivo central é garantir a confidencialidade (dados acessados apenas por quem tem permissão), a integridade (informações mantidas íntegras e confiáveis) e a disponibilidade (sistemas acessíveis quando necessários). </p>
				<p>Em um mundo cada vez mais conectado, os hackers — indivíduos ou grupos que exploram vulnerabilidades digitais — representam o maior desafio para essa proteção. Eles podem agir por diferentes motivações. </p>
				</div>
			</section>
			
			<!-- Two -->
			<section id="two" class="wrapper style2">
				<header>
					<h2>Hackers</h2>
				<p>Hackers são os criadores de chaves invisíveis que, seja para reforçar muros ou desafiá-los, revelam o poder e os riscos do mundo digital.A palavra hacker tem origem na década de 1960, no MIT, e originalmente designava alguém que “hackeava” (no sentido de “aprimorar” ou “modificar criativamente”) sistemas computacionais para torná-los mais eficientes ou adaptar suas funcionalidades.</p>
				</header><div class="content">
					<div class="gallery">
						<div>
							<div class="image fit flush">
								<a href="pic03.jpg"><img src="hacker3.png" alt="" width="600" height="300"></a>
							</div>
						</div>
						<div>
							<div class="image fit flush">
								<a href="pic01.jpg"><img src="hacker4.png" alt="" width="600" height="300"></a>
							</div>
						</div>
						<div>
							<div class="image fit flush">
								<a href="pic04.jpg"><img src="hacker5.png" alt="" width="600" height="300"></a>
							</div>
						</div>
						<div>
							<div class="image fit flush">
								<a href="pic05.jpg"><img src="hacker6.png" alt="" width="600" height="300"></a>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<!-- Three -->
			<section id="three" class="wrapper">
				<div class="spotlight">
					<div class="image flush"><img src="white.png" alt="" width="700" height="525"></div>
					<div class="inner">
					<h3>Hackers “white hat” (ou éticos) </h3>
					<p>Trabalham para identificar vulnerabilidades de forma controlada, ajudando organizações a corrigir falhas antes que criminosos as explorem.</p>
					</div>
				</div>
				<div class="spotlight alt">
					<div class="image flush"><img src="black.png" alt="" width="700" height="525"></div>
					<div class="inner">
					<h3>Hackers “black hat” </h3>
					<p>
						Buscam lucro ou impacto negativo, usando malwares, ataques de phishing e exploração de brechas para roubar dados, extorquir empresas ou derrubar serviços.

					</p>
					</div>
				</div>
				<div class="spotlight">
					<div class="image flush"><img src="gray.png" alt="" width="700" height="525"></div>
					<div class="inner">
					<h3>Hackers “gray hat” </h3>
					<p>Transitam entre as duas categorias, às vezes violando sistemas sem permissão mas depois relatando (ou vendendo) as vulnerabilidades encontradas.</p>
					</div>
				</div>
			</section>
		</div>
	</section>
	
	<!-- Footer -->
	
	<div class="copyright">
	Site desenvolvido para fins acadêmicos, com o objetivo de transmitir informações de forma didática, sem, em hipótese alguma, incentivar o leitor ou usuário a cometer crimes digitais.
	</div>